<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href= "/public/assets/styles.css" rel="stylesheet" type="text/css" />
</head>
<form action="/login" method="post">
	<div>
	    <label>Username:</label>
	    <input type="text" name="username"/><br/>
	</div>
	<div>
	    <label>Password:</label>
	    <input type="password" name="password"/>
	</div>
	<div>
	    <input type="submit" value="Submit"/>
	</div>
</form>
